* {
    margin: 0;
    padding: 0;
}
/*Trata-se do documento em si, ou seja, a informação legível para o usuário/leitor do documento*/
body {
    width: 100%;
    height: 100vh;
    background: url(kaylanelinda.jpg);
    background-size: cover;
    background-position: center;
}
/*serve como o ponto de partida para a execução do programa*/
main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/*é uma caixa construída em aço ou alumínio com o objetivo de transportar grandes e pesadas cargas por vários modais: marítimo, terrestre e aéreo.*/
.container {
    display: flex;
    flex-direction: column;
    background: rgba(red, green, blue, alpha);
    backdrop-filter: blur(30px);
    border: 2px solid#ffffff30;
    width: 400px;
    height: 550px;
    align-items: center;
    justify-content: space-around;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
}
/*O atributo global title contém textos representando informações de orientação, relacionados ao elemento a que pertence*/
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font: bold 1.5rem arial;

    margin-bottom: 20px;
}
/*permite que apresentemos um texto (ou prompt).*/
.input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
/*etorna todos os caracteres que lê, incluindo vírgulas, retornos de transporte*/
.input input {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    outline: 2px;
    font: bold 1.5rem arial;
    text-align: center;
    background-color: transparent;
}
/*Tratamento de úlceras de estômago ou de duodeno*/
.input label {
    font: bold 1.5rem arial;
}
/*uma dica que descreve o valor esperado em um dado campo de entrada*/
input::placeholder {
    color: black;
    font-style: italic;
    font-size: 18px;
}

button {
    width: 300px;
    height: 40px;
    font: bold 1.2rem arial;
    background: black;
    color: aqua;
    outline: none;
    border-radius: 55px;
    cursor: pointer;
    font-weight: bold;
}

.result {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 55px;
    font: italic 1.0rem arial;
}
/*ser pressionado, ativa a opção ou executa o comando a que está associado*/
button {
    font: bold 1.2rem arial;
    background: black;
    color: rgb(255, 255, 255);
    outline: none;
    border-radius: 55px;
    cursor: pointer;
    font-weight: bold;
}

.result {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 55px;
    font: italic 1.0rem arial;
    box-shadow: 0px 0px 10px rgb(rgb(175, 8, 94), rgb(0, 218, 76), rgb(0, 123, 255));
    background-color: rgba(rgb(173, 93, 93), rgb(62, 142, 62), rgb(85, 85, 134), 0,08);
    color: blueviolet;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
}